.herolist {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 20px
}

.herolist__container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 5px;
    padding: 0;
    margin-bottom: 10px;
    margin: 5px auto;
    max-width: 950px;
    padding-left: 40px;
}

.herolist__list-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.herolist__attr {
    list-style: none;
    display: flex;
    margin: 0 auto;
}

.herolist__attr-name {
    margin: 0;
    text-align: left;
    line-height: 1.9;
}

.herolist__attr {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.herolist__attr-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.herolist__attr-icon {
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 500px) {
    .herolist__container {
        width: fit-content;
        justify-content: center;
        padding-left: 0;
    }
}