.tierlist__wrapper {
    display: grid;
    height: 600px;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(5, 1fr);
    border-top: 1px solid white;
    border-left: 1px solid white;
    margin-bottom: 10px;
}

.tierlist {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-bottom: 50px;
}

.tierlist__clear-button {
    width: 30%;
}

.tierlist__tier {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.tierlist__heroes {
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    background-color: rgb(203, 255, 203);
}

.tierlist__buttons {
    display: flex;
    justify-content: space-between;
}

.tierlist__button {
    width: 160px;
    transition: transform .1s linear;
    font-size: 16px;
}

.tierlist__button:hover {
    transform: scale(1.1);
}

.tierlist__button_copy {
    background-color: rgb(162, 162, 209);
    color: black
}

.tierlist__tier_s {
    background-color: rgb(107, 201, 255);
}

.tierlist__tier_a {
    background-color: rgb(128, 233, 128);
}

.tierlist__tier_b {
    background-color: rgb(255, 252, 94);
}

.tierlist__tier_c {
    background-color: rgb(255, 194, 82);
}

.tierlist__tier_d {
    background-color: rgb(255, 82, 82);
}

@media screen and (max-width: 800px) {
    .tierlist {

    }

    .tierlist__buttons {
        padding: 0 20px;
    }
}

@media screen and (max-width: 380px) {
    .tierlist__button {
        width: 100px;
        font-size: 13px;
    }
}

