.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 70px;
    background-color: rgb(68, 68, 68);
    /* background-color: rgb(254, 255, 167); */
    /* outline: 1px solid black; */
    margin-bottom: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header__title {
    margin: 0;
    font-size: 27px;
    font-family: "reaver-bold";
}

@media screen and (max-width: 800px) {
    .header {
        width: 100%;
    }
}
